$bg:#7e437e;
$pm : #6d3d6d;
$sc : #4c2a4c;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg;

}

.App {
  background: $sc;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #eee
}

.navbar {
  padding: 10px 20px;
  text-align: center;
  background: $pm;

  h1 {
    margin: 10px 0;
  }
}

.book-list {
  margin: 20px;
  padding: 10px;
  text-align: center;


  ul {
    padding: 0;
    list-style-type: none;

    li {
      background: $pm;
      border-radius: 4px;
      padding: 10px;
      cursor: pointer;
      margin: 10px 0;

      &:hover {
        opacity: .7;
        text-decoration: line-through;
      }
    }
  }

}

.title {
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}

.author {
  font-size: .9em;
  color: #ddd;
}

.empty {
  margin: 20px;
  text-align: center;
}


form {
  padding: 20px;

  input[type=text] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 6px 0;
    background: #3c1f3c;
    color: #fff;
    border: 0;
  }

  input[type=submit] {
    padding: 6px 20px;
    margin: 10px auto;
    background: #eee;
    border: 0;
    display: block;
  }

}